{
    "extends": ["stylelint-config-prettier"],
    "rules": {
        "indentation": 4,
        "color-no-invalid-hex": true,
        "color-hex-case": "lower",
        "font-family-no-duplicate-names": true,
		"unit-whitelist": ["rem", "px", "%"]
    }
}