{
    "extends": ["stylelint-config-recommended", "stylelint-config-standard", "stylelint-config-prettier"],
    "rules": {
        "indentation": 4,
        "color-no-invalid-hex": true,
        "color-hex-case": "lower",
        "font-family-no-duplicate-names": true,
		"string-no-newline": true,
		"property-no-unknown": true,
		"block-no-empty": true,
		"unit-whitelist": ["rem", "px", "%", "deg"]
    }
}